/* @font-face {
    font-family: "Value";
    src: url(../resources/fonts/ValueSans/Value.woff) format('woff');
    font-style: normal;
    font-weight:400;
}
@font-face {
    font-family: "Value";
    src: url(../resources/fonts/ValueSans/Value-Bold.woff) format('woff');
    font-style: bold;
    font-weight:700;
}
@font-face {
    font-family: "Value";
    src: url(../resources/fonts/ValueSans/Value-Medim.woff) format('woff');
    font-style: medium;
    font-weight:500;
}
@font-face {
    font-family: "Value";
    src: url(../resources/fonts/ValueSans/Value-Black.woff) format('woff');
    font-style: black;
    font-weight:900;
}
*/ 
body{
    letter-spacing: -1.16px !important;
}

.value-bold{
    font-weight:bold;
}

.value-medium{
    font-size: 15pt;
    letter-spacing: 0;
}

/* SECTION test styles */

/* div , .container {
    box-shadow:inset
    0 0 0 1px #f4aab9;
    background-color: #ff008808;
} */

.background-test{
    background-color: tomato;
    top:0;
    width: 100%;
}

/* !SECTION */