body{
    letter-spacing: -1.16px !important;
}

.value-bold{
    font-weight:bold;
}

.value-medium{
    font-size: 15pt;
    letter-spacing: 0;
}

.value-regular{
    font-size: 12pt;
    letter-spacing: 1.2;
}

.line-space-2{
    letter-spacing: -0.5px !important;
}

.text-gradient{
    background: linear-gradient(45deg,#B163AF, #4120B9);
    background: -webkit-linear-gradient(45deg, #B163AF, #4120B9);
    background-clip: text; 
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent;
}

.section-hiw-gradient-1 {
    background-color: linear-gradient(90deg,#FAD8CC, #F7CDD7);
    background: -webkit-linear-gradient(90deg, #FAD8CC, #F7CDD7);
}

.bg-progress-bar{
    /* TODO - refactor progress bar colors */
    background-color: #c9c9c9;
    width: 100%;
    height:5rem;
    border-radius: 20rem;
    overflow:hidden;
}

.bg-progress-bar > .progress{
    background-color: rgb(255, 197, 197);
    height:100%;
    width:75%;
    border-radius: 20rem;
}

/* SECTION test styles */

/* div , .container {
    box-shadow:inset
    0 0 0 1px #f4aab9;
    background-color: #ff008808;
} */

.test-border-red{
    box-shadow:inset
    0 0 0 1px #ff724b;
}
.test-border-green{
    box-shadow:inset
    0 0 0 1px #0bff03;
}

.background-test{
    background-color: tomato;
    top:0;
    width: 100%;
}

/* !SECTION */